body {
    margin: 0;
    padding: 0;
    background-color: white;
}

main {
    height: 36rem;
    width: 55rem;
    background-color: #caf0f8;
    margin: 2rem 15rem 2rem 15rem;
    text-align: center;
}

section {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 55rem;
    margin-bottom: 3rem;
}

section>div {
    background-color: white;
    height: 2rem;
    width: 7rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 3rem;
    padding: 1rem;
    border-radius: 15px;
}

article {
    margin-bottom: 2rem;
}

#description {
    border-radius: 10px;
    border: none;
    padding: 0.5rem;
    width: 15rem;
    margin: 0.5rem;
}

#amount {
    border-radius: 10px;
    border: none;
    padding: 0.5rem;
    width: 5rem;
}

#incomebtn {
    border-radius: 10px;
    border: none;
    padding: 0.5rem 1rem;
    background-color: #007f5f;
    color: white;
}

#expensebtn {
    border-radius: 10px;
    border: none;
    padding: 0.5rem 1rem;
    margin-left: 0.4rem;
    background-color: #d90429;
    color: white;
}

#resetbtn {
    border-radius: 10px;
    border: none;
    padding: 0.5rem 1rem;
    margin-top: 0.4rem;
    background-color: black;
    color: white;
}

aside {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

aside>div {
    width: 17rem;
}

h2 {
    font-weight: bold;
    font-size: large;
    margin: 0.2rem 0rem 0rem 0rem;
}

.green {
    color: #007f5f;
}

.red {
    color: #d90429;
}

h1 {
    margin-bottom: 0.5rem;
}

.incomeadded {
    background-color: white;
    width: 16rem;
    height: 1.5rem;
    border-radius: 1rem;
    margin-bottom: 0.7rem;
    margin-right: 0.8rem;
    padding-top: 0.3rem;
}

.expenseadded {
    background-color: white;
    width: 16rem;
    height: 1.5rem;
    border-radius: 1rem;
    margin-bottom: 0.7rem;
    margin-right: 0.8rem;
    padding-top: 0.3rem;
}

.descriptionspan {
    width: 8rem;
    margin-top: -2.2rem;
    float: left;
}

.amountspan {
    width: 8rem;
    margin-top: -2.2rem;
    color: #007f5f;
    float: right;
}

/* .fa-solid {
    visibility: hidden;
} */

.fa-solid:hover {
    visibility: hidden;
}

@media (max-width: 850px) {

    body {
        background-color: #caf0f8;
    }

    main {
        width: 20rem;
        margin: 0 auto;
        margin-top: 1rem;
        margin-bottom: 4rem;
        height: 100rem;
        /* border: 1px solid black; */
    }

    section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 20rem;
        padding-top: 1rem;
        margin-bottom: 1rem;
    }

    section>div {
        height: 2rem;
        width: 7rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 1rem;
        padding: 1rem;
        border-radius: 15px;
    }

    /* aside {
        border: 1px solid black;
    } */

    #income,
    #expense {
        /* border: 1px solid black; */
        align-content: center;
    }

    .labellings {
        font-size: small;
    }

    h2 {
        font-size: medium;
        margin: 0.2rem 0rem 0rem 0rem;
    }

    h1 {
        font-size: medium;
        margin: 0 auto;
        margin-bottom: 0.7rem;
    }

    .incomeadded {
        width: 8rem;
        height: 4rem;
        padding-top: 0.3rem;
        margin: 0 auto;
        margin-bottom: 0.9rem;
    }

    .expenseadded {
        width: 8rem;
        height: 4rem;
        align-items: center;
        padding-top: 0.3rem;
        margin: 0 auto;
        margin-bottom: 0.9rem;
    }

    .descriptionspan {
        max-width: 7rem;
        font-size: small;
        margin-top: -4.7rem;
        margin-left: 1.55rem;
        margin-right: 1.35rem;
        /* border: 1px solid blue; */
    }

    .amountspan {
        max-width: 7rem;
        font-size: small;
        margin-top: -2.7rem;
        margin-left: 1.35rem;
        margin-right: 1.35rem;
        /* border: 1px solid blue; */
    }

    article {
        margin-bottom: 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #description {
        margin: 0.5rem;
    }

    #amount {
        margin-bottom: 0.7rem;
    }
}

@media (max-width:1350px) {
    body {
        background-color: #caf0f8;
    }

    main {
        margin: 0 auto;
        margin-top: 2rem;
    }
}